<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>SEARCH</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="albums">
      <ion-icon name="disc-outline"></ion-icon>
      <ion-label>Albums</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>